* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.accordion {
  max-width: 31.25rem;
  margin: .625rem auto;
  padding: 1.25rem;
  background-color: antiquewhite;
}

.accordion-title, .accordion-item {
  margin-bottom: .625rem;
  border-bottom: .0625rem solid gray;;
}

.accordion-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-item-title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  cursor: pointer;
  color: rgba(74, 74, 251, 0.7);
}

.accordion-item-arrow {
  display: inline-block;
  margin-left: auto;
  align-self: center;
  border-style: solid;
  border-width: .5rem .3125rem 0 .3125rem;
  border-color: #007bff transparent transparent transparent;
}

input[type="radio"]{
  position: absolute;
  visibility: hidden;
  height: 0;
  width: 0;
}

.accordion-item-input:checked ~ .accordion-item-title .accordion-item-arrow {
  border-style: solid;
  border-width: 0 .3125rem .5rem .3125rem;
  border-color: transparent transparent rgba(25, 25, 47, 0.7) transparent;
}

.accordion-item-input:checked ~ .accordion-item-title .accordion-img {
  display: block;
}

.accordion-item-input:checked ~ .accordion-item-title {
  color: rgba(25, 25, 47, 0.7);
}

.accordion-img {
  display: none;
  margin: 0rem auto 1.25rem;
  width: 75%;
}

@media (min-width:37.5625rem) {
  body {
    font-size: 1.5rem;
  }
}
@media (min-width:80rem) {
  body {
    font-size: 1.7rem;
  }

  .accordion:hover .accordion-item-title{
    color: rgba(25, 25, 47, 0.7);
  }

  .accordion-item:active .accordion-item-title{
    color: rgba(74, 74, 251, 0.7);
  }

  .accordion-item:active .accordion-img{
    opacity: 0.7;
  }

  .accordion-item-arrow {
    display: none;
  }

  .accordion:hover .accordion-item-title .accordion-item-arrow {
    display: inline-block;
  }

  .accordion-item:hover .accordion-img{
    display: block;
    animation: fade_in_show 0.5s;
  }

  @keyframes fade_in_show {
    0% {
         opacity: 0;
         transform: scale(0)
    }

    100% {
         opacity: 1;
         transform: scale(1)
    }
}

  .accordion-item-input:hover ~ .accordion-item-title .accordion-item-arrow {
    display: inline-block;
    border-style: solid;
    border-width: 0 .3125rem .5rem .3125rem;
    border-color: transparent transparent rgba(25, 25, 47, 0.7) transparent;
  }
}